.jobCenter {
  background: #e5e5e5;
  height: 100vh;
}
.searchItemsContainer {
  background: #ffffff;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 781px;
}
.header {
  padding: 20px;
  display: flex;
}

.jobsFound {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

